.account-info {
  grid-row: content-s/conteny-e;
  grid-column: s/e;
  form {
    display: grid;
    grid-template-rows: [name-s street-address-s] 64px [name-e street-address-e email-s city-s] 64px [email-e city-e state-s zipcode-s]64px[zipcode-e state-e ];
    grid-template-columns: [s] 1fr [m] 1fr [e];
    grid-row-gap: 15px;

    .account-info-form-name {
      grid-column: s/m;
      grid-row: name-s/name-e;
    }
    .account-info-form-email {
      grid-row: email-s/email-e;
      grid-column: s/m;
    }
    .account-info-form-street-addresse {
      grid-column: m/e;
      grid-row: street-address-s/street-address-e;
    }
    .account-info-form-city {
      grid-column: m/e;
      grid-row: city-s/city-e;
    }
    .account-info-form-state {
      grid-row: state-s/state-e;
      grid-column: m/e;
      input {
        width: 200px;
      }
    }
    .account-info-form-zipcode {
      grid-column: m/e;
      grid-row: zipcode-s/zipcode-e;
      transform: translateX(226px);
      input {
        width: 200px;
      }
    }
  }
}
